<p>error-page works!</p>
<div class="row">
    <div class="col-3">
        <ul class="list-group">
            <li routerLink="/auth/login" class="list-group-item">Ir a Login</li>
            <li routerLink="/auth/register" class="list-group-item">Ir a Registro</li>
            <li routerLink="/heroes/listado" class="list-group-item">Ir a Listado</li>
            <li routerLink="/heroes/agregar" class="list-group-item">Ir a Agregar</li>
            <li routerLink="/heroes/buscar" class="list-group-item">Ir a Buscar</li>
            <li routerLink="/heroes/editar/123" class="list-group-item">Ir a Editar</li>
            <li routerLink="/heroes/123" class="list-group-item">Ir a Detalle de Heroe</li>
        </ul>
    </div>
</div>


<!-- <a routerLink="/auth/login">Login</a>
<br>
<a routerLink="/auth/register">Register</a> -->
